<blockquote>
  <h3>You</h3>
  <p>
    - <%= @question %>
  </p>
</blockquote>

<blockquote>
  <h3>Your coach</h3>
  <p>
    - <%= @answer %>
  </p>
</blockquote>

<%= link_to 'Ask another question', ask_path %>
